[Unit]
Description=Jupyter Server

[Service]
Type=simple
Environment=MATPLOTLIBRC=/root/.config/matplotlib/.matplotlibrc
ExecStart=/usr/local/bin/jupyter server --IdentityProvider.token=""
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
