name: Build Template

on:
  workflow_call:
    secrets:
      E2B_API_KEY:
        required: true
    inputs:
      E2B_DOMAIN:
        required: false
        type: string
    outputs:
      template_id:
        description: "The ID of the built template"
        value: ${{ jobs.build.outputs.template_id }}

permissions:
  contents: read

jobs:
  build:
    name: Build E2B Template
    runs-on: ubuntu-latest
    outputs:
      template_id: ${{ steps.build-template.outputs.template_id }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set package version
        working-directory: ./template
        run: |
          VERSION=$(cat ../chart_data_extractor/pyproject.toml | grep version | cut -d '"' -f 2)
          echo "Version: $VERSION"
          sed -i "s/e2b_charts/e2b_charts==${VERSION}/g" requirements.txt

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install development dependencies
        working-directory: ./template
        run: pip install -r requirements-dev.txt

      - name: Build E2B template
        id: build-template
        working-directory: ./template
        run: |
          python build_ci.py
          # BUILD_OUTPUT=$(python build_ci.py 2>&1)
          # echo "$BUILD_OUTPUT"
          # TEMPLATE_ID=$(echo "$BUILD_OUTPUT" | grep "Template created with ID:" | sed 's/.*Template created with ID: \([^,]*\).*/\1/')
          # BUILD_ID=$(echo "$BUILD_OUTPUT" | grep -A 1 "Build ID:" | tail -n 1 | xargs)
          # echo "Captured Template ID: $TEMPLATE_ID"
          # echo "Captured Build ID: $BUILD_ID"
          # echo "template_id=$TEMPLATE_ID" >> $GITHUB_OUTPUT
        env:
          E2B_API_KEY: ${{ secrets.E2B_API_KEY }}
          E2B_DOMAIN: ${{ inputs.E2B_DOMAIN }}

      - name: Output template ID
        run: |
          echo "Template ID from step output: ${{ steps.build-template.outputs.template_id }}"
