name: Pull Request

permissions:
  contents: read
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main

jobs:
  build-template:
    uses: ./.github/workflows/build_test_template.yml
    secrets:
      E2B_API_KEY: ${{ secrets.E2B_API_KEY }}
    with:
      E2B_DOMAIN: ${{ vars.E2B_DOMAIN }}
  js-sdk:
    uses: ./.github/workflows/js_tests.yml
    needs: build-template
    secrets:
      E2B_API_KEY: ${{ secrets.E2B_API_KEY }}
    with:
      E2B_DOMAIN: ${{ vars.E2B_DOMAIN }}
      E2B_TESTS_TEMPLATE: ${{ needs.build-template.outputs.template_id }}
  python-sdk:
    uses: ./.github/workflows/python_tests.yml
    needs: build-template
    secrets:
      E2B_API_KEY: ${{ secrets.E2B_API_KEY }}
    with:
      E2B_DOMAIN: ${{ vars.E2B_DOMAIN }}
      E2B_TESTS_TEMPLATE: ${{ needs.build-template.outputs.template_id }}
  performance-tests:
    uses: ./.github/workflows/performance_tests.yml
    needs: build-template
    secrets:
      E2B_API_KEY: ${{ secrets.E2B_API_KEY }}
    with:
      E2B_DOMAIN: ${{ vars.E2B_DOMAIN }}
      E2B_TESTS_TEMPLATE: ${{ needs.build-template.outputs.template_id }}
  #  Commented out because else we won't be hitting caches
  # cleanup-build-template:
  #   uses: ./.github/workflows/cleanup_build_template.yml
  #   needs: [build-template, js-sdk, python-sdk, performance-tests]
  #   if: always() && !contains(needs.build-template.result, 'failure') && !contains(needs.build-template.result, 'cancelled')
  #   secrets:
  #     E2B_TESTS_ACCESS_TOKEN: ${{ secrets.E2B_TESTS_ACCESS_TOKEN }}
  #   with:
  #     E2B_DOMAIN: ${{ vars.E2B_DOMAIN }}
  #     E2B_TESTS_TEMPLATE: ${{ needs.build-template.outputs.template_id }}
  charts-tests:
    uses: ./.github/workflows/charts_tests.yml
