name: Test Python SDK

on:
  workflow_call:
    secrets:
      E2B_API_KEY:
        required: true
    inputs:
      E2B_DOMAIN:
        required: false
        type: string
      E2B_TEST_TEMPLATE:
        required: false
        type: string

permissions:
  contents: read

jobs:
  publish:
    defaults:
      run:
        working-directory: ./python
    name: Python SDK - Build and test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.5.1
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install dependencies
        run: poetry install

      - name: Test build
        run: poetry build

      - name: Run tests
        run: poetry run pytest --verbose -x
        env:
          E2B_API_KEY: ${{ secrets.E2B_API_KEY }}
          E2B_DOMAIN: ${{ inputs.E2B_DOMAIN }}
          E2B_TEST_TEMPLATE: ${{ inputs.E2B_TEST_TEMPLATE }}